<!doctype html>
<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="JM">

<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Optimize mobile viewport -->
    <title>Jacobson Laboratories</title>
    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/library/ng-animation.css">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/animatecss/2.1.0/animate.min.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Francois+One|Tinos" rel="stylesheet">
    <!-- Resizable font -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/library/jquery.textfill.js"></script>
    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/library/angular-animate.min.js"></script>
    <script src="js/core.js"></script>
    <script src="js/controllers/main.js"></script>
    <script src="js/common/DataService.js"></script>
    <script src="js/common/CommonRoutines.js"></script>
    <!-- QR COde -->
    <script src="node_modules/qrcode-generator/qrcode.js"></script>
    <script src="node_modules/qrcode-generator/qrcode_UTF8.js"></script>
    <script src="node_modules/angular-qrcode/angular-qrcode.js"></script>
</head>

<body ng-controller="mainController as ma">
    <div class="container-fluid">
        <div class="PubMedWrapper scale-fade animationDurationWrapper animationLeaveNone" ng-if="ma.oContent">
            <!-- TEST 1 -
            <input type="text" ng-model="test" ng-keyup="ma.Helper.Resize()" /> TEST 2 -
            <input type="text" ng-model="test2" ng-keyup="ma.Helper.Resize()" /> -->
            <!-- <div id='my-element' style='width:100px;height:50px;'>
                <span>The quick brown fox jumps over the lazy dog {{test}}</span>
            </div> -->
            <div class="PubMedTop row">
                <div class="row">
                    <div class="PubMedTitle col-md-12 autoResize">
                        <span>{{ma.oContent.title}}</span>
                    </div>
                </div>
                <div class="row LineSeparator">
                    <hr/>
                </div>
                <div class="PubMedDetail row">
                    <div class="PubMedAuthors col-md-10">
                        <div class="PubMedAuthor autoResize" ng-repeat="author in ma.oContent.authors track by $index">
                            <span>{{author}}</span>
                        </div>
                    </div>
                    <div class="PubMedJournal col-md-2">
                        <div class="JournalOuter">
                            <div class="JournalMiddle">
                                <div class="JournalInner autoResize">
                                    <span>{{ma.oContent.journal}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="PubMedBottom row">
                <div class="PubMedDetail row">
                    <div class="PubMedAbstract col-md-10 autoResize">
                        <span>{{ma.oContent.abstract}}</span>
                    </div>
                    <div class="PubMedQRnTags col-md-2">
                        <div class="PubMedQR">
                            <qrcode data="{{ma.oContent.URL}}" href="{{ma.oContent.URL}}" size="265"></qrcode>
                        </div>
                        <div class="PubMedJournalTags">
                            <div class="PubMedTag autoResize" ng-repeat="tag in ma.oContent.tags track by $index">
                                <span>{{tag}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button ng-show="false" class="btn btn-md btn-danger" ng-click="ma.Helper.Next()">NEXT</button>
    </div>
</body>

</html>
